# ====================================
# GVCC Learning Portal — Backend ENV
# ====================================
# Copy this to .env and fill in your values

PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
# Replace <username>, <password>, <cluster> with your Atlas credentials
MONGO_URI=mmongodb+srv://mani:123123123@mani.egoyawa.mongodb.net/?retryWrites=true&w=majority&appName=mani

# JWT secret — use a long random string in production
JWT_SECRET=fbc743823c8ddf6617960247a59f7e4eda7943932e5da1f9a042c0a1ca5c29dc


# JWT expiry durations
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# Frontend origin for CORS
CLIENT_URL=http://localhost:5173
